@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

html {
    scroll-behavior: smooth;
}
.koka{

}
.koka ul {
    list-style-type: none;
    padding-left: 85px;
}
nav li {
    position: relative;
    display: inline-block;
    margin-top: 15px;
    margin-left: 20px;
    padding-top: 20px;
}
nav a {
    display: block;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}
nav::after {
    content: '';
    display: block;
    height: 5px;
    width: 85%;
    background-color: #fbfcfd;
    margin-top: -5px;
    margin-left: 105px;
}
nav li a:hover{
    color: darkcyan;
}
.active {
    color: gray;
}
.active::after{
    background-color: teal;
}
nav a::after{
    content: '';
    display: block;
    height: 5px;
    margin-top: 10px;
    width: auto;
    background-color: #fbfcfd;
}
nav a:hover::after {
    background-color: darkcyan;
    transition: all ease-in-out 500ms;

}
/* Header */
.header{
    background: #012506 ;
    text-align: left;
    color: #8c8c8c;
    padding-left: 7%;
    height: 50px;
}
.active::after {
  background-color: #0299FC;
}

.icons {
  float: right;
  padding-right: 2%;
  height: 50px;
  width: 400px;
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 15px;
  height: 15px;
  text-align: center;
  text-decoration: none;
  margin-top: 8px;
}

.fa-linkedin {
  background: gray;
  color: white;
  border-radius: 100%;
  margin-right: 10px;
}
.fa-linkedin:hover {
  background: #007bb5;
}
.fa-twitter {
  background: gray;
  color: white;
  border-radius: 100%;
  margin-right: 10px;
}
.fa-twitter:hover {
  background: #55ACEE;
}

.fa-pinterest {
  background: gray;
  color: white;
  border-radius: 100%;
  margin-right: 10px;
}
.fa-pinterest:hover {
  background: #cb2027;
}

.fa-google {
  background: gray;
  color: white;
  border-radius: 100%;
  margin-right: 10px;
}
.fa-google:hover {
  background: #dd4b39;
}

.fa-rss {
  background: gray;
  color: white;
  border-radius: 100%;
  margin-right: 10px;
}
.fa-rss:hover {
  background: #ff6600;
}
*{
  margin:0px;
  padding:0px;
}
.animated {
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  background: url('../images/text-bg.png') no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: moveBg 90s linear infinite;
  -webkit-animation: moveBg 90s linear infinite;
}

@keyframes moveBg {
  0% {
    background-position: 0% 30%;
  }

  100% {
    background-position: 100% 50%;
  }
}
.clr{
  clear:both;
}
.body1-main{
  width:100%;
  height:auto;
  margin:auto;
  background-color:#FFFFFF;
  padding:50px 30px;
  box-sizing:border-box;
}
.body1-inner{
  width:1400px;
  height:auto;
  margin:auto;
}
.body1-left{
  width:580px;
  height:auto;
  float:left;
  margin-right:40px;
  margin-left: 40px;
}
.body1-box{
  width:100%;
  height:auto;
  margin:auto;
}
.body1-box p{
  font-family: "Comfortaa";
  font-size:15px;
  color:#8B8B8B;
}
.body1-box h1{
  font-family: "Comfortaa";
  font-size: 50px;
}
.body1-box form {
  margin-top:20px;
  margin-bottom:50px;
  margin-left:50px;
  margin-right:10px;
}
.body1-box form input{
  padding:9px;
  font-size:inherit;
}
.body1-box form input[type="text"]{
  background-color:#F1F1F1;
  border: 2px ;
  font-size:15px;
  border-radius:10px;
  font-family: "Comfortaa";
  color: #404040;
  padding-right:25px;
}

.body1-box form input[type="submit"]{
  border-radius:10px;
  font-family: "Comfortaa";
  font-size:15px;
  border-color:transparent;
  background-color:#0098FE;

  color: white;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.body1-box form input[type="submit"]:hover {
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
  transition: .5s all;
  background: #1975ff;
}

a{
  text-decoration: :none;
  outline:none;
}
a img{
  border:none;
}
.clr{
  clear:both;
}
.body-main{
  width:100%;
  height:auto;
  margin:auto;
  background-color:#FFFFFF;
  padding:50px 30px;
  box-sizing:border-box;
}
.body-inner{
  width:1400px;
  height:auto;
  margin:auto;
}
.body-left{
  width:600px;
  height:auto;
  float:left;
  margin-right:40px;
  margin-left: 20px;
}
.body-left-left{
  width:330px;
  height:auto;
  float:left;
  margin-top: 30px;
  margin-right: 40px;

}
.body-box{
  width:100%;
  height:auto;
  margin:auto;
  margin-bottom:45px;
}

.body-box p{
  font-family:"Arial";
  font-size:14px;
  color:#8B8B8B;
  text-align:center;
  margin:10px;
  padding: 5px;
}
.body-left img{
  margin-bottom:10px;
  margin-top:15px;
}
.body-left-left img{
  margin-bottom:10px;
  margin-top:15px;
}
.zoom{
    transition: transform .3s;
    width: 95px;
    height: 90px;
    margin: 0 auto;
}
.zoom:hover {
    transform: scale(1.2);
}
.body-box a{
  font-family: "Arial";
  font-size:15px;
  color:#028FEC;
  text-decoration: none;
}
.body-box a:hover{
  color:#621ea9;
  font-size: 105%;
}

#hgroup1 {
  border-left: 10px solid #0299FC;
  background-color: #E0E0E0;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
  padding: 15px;
}

/* Footer */
footer{
  font-family:"open Sans";
  width:100%;
  box-sizing:border-box;
}
a{
  text-decoration: none;
  outline:none;
}
a img{
  border:none;
}
.clr{
  clear:both;
}
.footer-main{
  width:100%;
  height:auto;
  margin:auto;
  background-color:#012506;
  padding:30px 20px;
  box-sizing:border-box;

}
.footer-inner{
  width:1400px;
  height:auto;
  margin:auto;

}
.footer-left{
  width:300px;
  height:auto;
  float:left;
  margin-right:30px;
  margin-left:25px;
}
.footer-box{
  width:100%;
  height:auto;
  margin:auto;
  margin-bottom:30px;
}
.footer-box h6{
  font-family:"open Sans";
  font-size:15px;
  color:#fff;
  text-align:left;
  margin-bottom:15px;
  font-weight:bold;
  text-transform:uppercase;
}
.footer-box p{
  font-family:"open Sans";
  font-size:15px;
  color:#f8f6f6;
  text-align:left;
  margin:0px;
}
.footer-box img{

  margin-bottom:20px;
  margin-top:20px;
}
.footer-box a{
  font-family: "open Sans";
  font-size:14px;
  color:#cece0a;
  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 8px;
}
.footer-box a:hover{

  text-decoration: none;
  padding-top: 8px;
  padding-bottom: 8px;
  color: #ffffff;
}

.footer-box ul{
  margin-top:3px;
}
.footer-box ul li{
  list-style-type:none;
  margin-top:5px;
}
.footer-box ul li a{
  font-family: "open Sans";
  font-size:17px;
  color:#cece0a;
}
.footer-box ul li a:hover{
  font-family: "open Sans";
  font-size:17px;
  color:#ffffff;
}
.footer-box form{
  margin-right:20px;
}
.footer-box form input{
  padding:9px;
  font-size:inherit;
}
.footer-box form input[type="text"]{
  display:block;
  margin-bottom:14px;
  width:100%;
  background-color:#232323;
  border: 2px ;
  border-radius:10px;
  color: white;
}
.footer-box form input[type="submit"]{
  margin-top:8px;
  border-radius:10px;
  border-color:transparent;
  background-color:#0098FE;
  color: white;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.footer-box form input[type="submit"]:hover {
  -webkit-transition: .5s all;
  -moz-transition: .5s all;
  -o-transition: .5s all;
  -ms-transition: .5s all;
  transition: .5s all;
  background: #cece0a;
}
.footer-box form textarea{
  padding:9px;
  font-size:inherit;
  font-family: "open Sans";
  width:100%;
  background-color:#232323;
  border: 2px ;
  border-radius:10px;
  color:white;
  resize: vertical;
  overflow: auto;
}
.footer-box form input::placeholder{
  color:#8D8D8D;
  font-size:13px;
}
.show_news
{
position: relative;
margin-left:0;
background:#F1F1F1;
width: 100%;
}
table
{
border-color: #E8E8E8;
width:100%;
}
.mySlides
{
display: none;
}
.slide_photos
{
position: relative;
margin-right: 0;
float:right;
}
.image_dimensions
{
height: 440px;
width:550px;
}
.circles
{
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #0299FC;
border-radius: 50%;
display: inline-block;
transition: background-color 1s ease;
}
.circlesStatic
{
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #0299FC;
border-radius: 50%;
display: inline-block;
transition: background-color 1s ease;
}
.circles_active, .circles:hover
{
background-color:rgba(245, 245, 245, 0.301);
}
.bottom_left
{
position: absolute;
bottom: 8px;
left: 16px;
font-size: 18px;
}
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
padding: 16px;
margin-top: -22px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 1s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}
.next {
right: 0;
border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover
{
background-color: rgba(0,0,0,0.877);
}
.link_button
{
background-color: #0099ff;
border: none;
color: white;
padding: 5px 5px;
text-align: center;
text-decoration: none;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
border-radius: 5px;
-webkit-transition-duration: 0.7s;
transition-duration: 0.7s;
}
.link_button:hover
{
background-color:white;
color: #0099ff;
box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.text
{
font-family: "Comfortaa";
color:#404040;
margin-left:20px;
padding-left: 65px;
}
.link_button span
{
cursor: pointer;
position: relative;
transition: 0.3s;
}
.link_button span:after
{
content: '\00bb';
position: absolute;
opacity: 0;
top: 0;
right: -20px;
transition: 0.5s;
}
.link_button:hover span
{
padding-right: 25px;
}
.link_button:hover span:after
{
opacity: 1;
right: 0;
}
