body {font-family: Arial, Helvetica, sans-serif; background-image: url("../images/background2.jpg");   background-repeat: repeat;}
form {border: 3px solid #f1f1f1;}


.permbajtja{

  width: 550px; 
  height: 710px; 
  background-attachment: fixed;
  background-color: rgb(255, 255, 255); 
  border-radius: 50px;
  margin-left: 33%;
  border:solid black;
}
.foto img{
   width: 100px;
   margin-top: 20px;
   margin-left:220px ;
}

input[type=text], input[type=password],input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 0px 0;
  display: inline-block;
  border: 1px solid rgb(19, 18, 18);
  box-sizing: border-box;
  background-color: rgb(207, 197, 185);
}

button {
  background-color: #20b44c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 35%;
}
